

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Libre BasketVille', sans-serif;
}

header{
  margin:24px;
  padding:24px;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D7D7D7;
}
main{
  margin-top: 24p;
  margin-bottom: 16;
  padding: 16px;
}

.grid-masonry {
  column-count: 4;
  gap: 48px;
 
  padding: 12px;
}


.grid-item {
  display: inline-block;
  width: 100%;
  
  position: relative;
  text-decoration: none;
  transition: transform 0.2s ease;

}

.grid-item:hover {
  transform: scale(1.02);
}




@media (max-width: 1023px) {
  .grid-masonry {
    column-count: 2;
    
  }
}
@media (max-width: 768px) {
  .grid-masonry {
    column-count: 1;
  }
}

button{
  font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #D7D7D7;
    background-color: white;
    border: none;;
}

button:hover{
  color:black;
  cursor: pointer;
}

.image-wrapper{
    width: 100%;
}

.image-wrapper img{
    object-fit: cover;
    display: block; 
    width: 100%; 
    height: auto;
}

.texts h3{
  margin: 0; 
  color: #FFFFFF; 
}

.texts p{
  margin: 0.25rem 0 0;
   color: #FFFFFF;
}